.express-editor-hero-block {
    background: url('../pages/images/Hero-Background-Gradient-2x.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.express-editor-hero-block>div>div:nth-child(2)>div>p {
    color: #FFFFFF;
}

.announcement-embed-editor>div>div>a {
    background-color: white !important;
    border: 2px solid #5258E4 !important;
}

.announcement-embed-editor>div>div>a>span>span {
    color: #5258E4 !important;
}

.streamline_ability>div>div>div>div>div>div>a {
    background-color: white !important;
    border-color: gray !important;
}

.streamline_ability>div>div>div>p {
    width: 100%;
    color: #4B4B4B;
}

.streamline_ability>div>div>div>div>div>div>a>span>span {
    color: gray !important;
}

.streamline_ability>div {
    padding: 0px !important;
}

.customer-experience {
    background-color: #f8f8f8 !important;
}

.customer-experience>div>div>div,
.customer-experience>div>div {
    text-align: center;
}

.customer-experience>div {
    height: 20% !important;
    background-color: #f8f8f8;
}

.customer-experience>div>div>div,
.QuickActionSDKDevelop>div,
.resource-card>div {
    width: 100% !important;
}

.getting-started {
    height: 8% !important;
    background: transparent conic-gradient(from 90deg at 0% -24%, #F8F8F8 0.00%, #081D31 100.00%) 0% 0% no-repeat padding-box;
}

.getting-started>div>h2 {
    color: #000000;
}

.getting-started>div>p {
    color: #222222;
    font-size: 16px;
}

.getting-started>div>div>div>div:first-child>a {
    background-color: #5258E4 !important;
    border: none;
}

.getting-started>div>div>div>div:last-child>a>span>span {
    color: #5258E4 !important;
}

.getting-started>div>div>div>div:last-child>a {
    background-color: transparent !important;
    border: 2px solid #5258E4 !important;
}

.getting-started>p>span>img {
    opacity: 0.7 !important;
    height: 100%;
}

.getting-started>p:first-child>span:first-child {
    width: 23% !important;
    margin-right: 12%;
}

.getting-started>div {
    padding-left: 17%;
    width: 48%;
}

.summary-block {
    height: 17% !important
}

.embed-adobe {
    background: url('../pages/images/Hero-Background-Gradient-image-2x.png') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.embed-adobe>div>div>p>span>picture>img {
    border-radius: 10px;
}

.embed-adobe>div>div>h1 {
    color: white;
    width: 70%;
}

.embed-adobe>div>div:first-child>p:last-child {
    width: 50%;
    color: white !important;
}

.embed-adobe>div>div:nth-child(2)>p>span>picture>img {
    position: absolute;
    display: none !important;
    width: 90% !important;
}



.ms-pa-page>div>div>p {
    margin-bottom: var(--spectrum-global-dimension-size-0) !important;
}

.ms-pa-summary-blade>div {
    justify-content: center !important;
}

.ms-pa-summary-blade>div>div {
    margin-right: 35px !important;
}


.tryForFree {
    background-color: black !important;
}

.tryForFree>div>div:nth-child(2)>div>div>div>a {
    background-color: #e6e7e9 !important;
}

.tryForFree>div>div:nth-child(2)>div>div>div>a>span>span {
    color: black !important;
}

.tryForFree>div>div>p {
    font-size: 15px;
}

.express-editor>div {
    padding-top: 5% !important;
}

.sdk-getting-block {
    height: 12% !important
}

.bgBlue {
    background-color: #202947 !important;
}

.bgBlue .tabItem:hover,
.bgBlue .tabItem.is-selected {
    background-color: #2e3c6a !important;
    color: var(--spectrum-global-color-gray-900) !important;
}

.bgBlue .tabView div[class^="spectrum"]>div:first-child {
    background-color: #111a35 !important;
    border-bottom: 2px solid #1d2643 !important;
}

.bgBlue pre.prism-code {
    background-color: #111a35 !important;
}

.bgBlue pre.prism-code span:first-child {
    color: #ffffff;
}

.bgBlue h3 {
    color: var(--spectrum-global-color-gray-900) !important;
}

.bgBlue p,
.bgBlue .tabItem {
    color: #8194ce !important;
}

.code-block-0 {
    padding-top: 0 !important;
}

.code-block-sdk>div>div>div:nth-child(2)>div>div:first-child,
.code-block-sdk>div>div>div:nth-child(4)>div>div:first-child,
.code-block-sdk>div>div>div:nth-child(3)>div>div:first-child,
.css-of2gsa-O {
    display: none;
}

.service-code-block {
    padding: 9%;
}

.service-code-block>div>div>div>div>div:nth-child(2)>pre>div>div>button {
    display: none !important;
}

.deployment>div>p:first-child>span {
    height: 20vw !important;
}

.deployment>div>h3 {
    margin-top: 77% !important
}

.why-integrate-sdk>div>p:first-child>span {
    height: 9vw !important
}

.why-integrate-sdk>div>h3 {
    margin-top: 35% !important;
}

.quick-action-block>div>p:first-child {
    height: 2cm !important;
}

.quick-action>div>p {
    width: 65%;
    padding-left: 20%;
}

.big-impact {
    margin-top: 5%;
    height: 13%;
    background: #202947 0% 0% no-repeat padding-box !important;
    opacity: 1;
}

.big-impact>div>div>div>h3 {
    font-size: 37px;
    color: #fff;
    width: 60%;
}

.big-impact>div>div>div {
    width: 40% !important;
}

.big-impact>div>div>div>p {
    color: #fff;
    width: 55%;
}

.big-impact>div>div>p {
    background-image: url("../pages/images/Background-image.png");
    background-repeat: no-repeat;
    width: 40%;
    scale: 0.9;
}

.big-impact>div>div>p>span>picture>img {
    height: 80% !important;
    left: -20px !important;
}

.learn-more-action>div>p,
.css-gno8zk-AnimationTextBlock {
    width: 100% !important;
    padding: 0% !important;
}

.edit-text-block>div>div {
    display: flex !important;
    flex-direction: row !important;
    width: fit-content !important;
    width: 20% !important;
}

.edit-text-block>div>div>p>span>picture>img {
    width: 100% !important;
    height: 100% !important;
}

.edit-text-block>div>div>p>span>span:first-child {
    padding-bottom: 0% !important;
}

.edit-text-block>div>div>p:first-child {
    height: 57px !important;
    padding: 0px !important;
    width: 30% !important;
}

.edit-text-block>div {
    height: 9vh !important;
    padding: 0px !important;
}

.edit-text-block>div>div>div {
    padding-left: 0 0 0 10% !important;
    width: 56% !important;
    max-width: 56% !important;
}

.edit-text-block>div>div>div:first-child {
    width: 56% !important;
}

.edit-text-block>div>div>div>p {
    font-size: 20px !important;
    width: 45vw;
}

.w-45 {
    width: 45%;
    max-width: 45% !important;
}

.w-30 {
    max-width: 30% !important;
    width: 30% !important;
}

.w-25 {
    max-width: 35% !important;
}

.quick-content>div {
    display: flex;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
}

.py-0 {
    padding-top: var(--spectrum-global-dimension-size-0) !important;
    padding-bottom: var(--spectrum-global-dimension-size-0) !important;
}

.text-align-left {
    text-align: left;
}

.border-right {
    border-right: 1px solid var(--spectrum-global-color-gray-500);
}

.div-p-0>div {
    padding: 0px !important;
}

.link .spectrum-Body a {
    text-decoration: underline;
}

.linking .spectrum-Link:focus {
    text-decoration: underline;
    border-bottom: 1px solid #1374e6;
}

.image-editing>div>div>div>h3,
.wrapper-comp-editing>div>div>div>h3 {
    margin-bottom: 30px !important;
}

.vedio-editor>div>div>div>h3 {
    color: white !important;
}

.faq-editor-page {
    height: 100px !important;
}

.spectrum-Accordion-ChevronIcon {
    padding: 6px !important;
    color: #1473e6;
}

.spectrum-Accordion-itemHeader {
    padding-left: 0px !important;
    color: var(--spectrum-listitem-m-text-color-hover, var(--spectrum-alias-text-color));
    font-size: 18px !important;
    font-weight: var(--spectrum-global-font-weight-bold) !important;
}

.spectrum-Accordion-itemIndicator {
    transform: rotate(0deg) !important;
    left: 98% !important;
    top: calc(12PX - var(--spectrum-accordion-icon-height, var(--spectrum-global-dimension-size-125)) / 2);
    font-size: 22px;
    cursor: pointer;
}

.spectrum-Accordion {
    padding-bottom: var(--spectrum-global-dimension-size-600);
}

.spectrum-Accordion-itemContent>p {
    padding-left: 22px;
}

.spectrum-Accordion-itemContent,
.spectrum-Accordion-itemContent p {
    padding-left: 12px !important;
    font-size: 16px;
}

.image-editing>div>div>div {
    border: none !important;
}

.editing-content{
    margin-top: 6%;
}

.embed-adobe>div {
    width: 100%;
}

.embed-adobe>div>div:first-child {
    width: 50%;
    margin: unset;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.embed-adobe>div>div:first-child>p, .embed-adobe>div>div:first-child>h1 {
    padding-left: 25% !important;
}

.embed-adobe>div>div:last-child {
    display: flex;
    align-items: center;
}

.embed-adobe>div>div:nth-child(2)>p>span {
    background: url("../pages/images/Quick-action-icon-3.svg") no-repeat padding-box,
        url("../pages/images/Quick-action-icon-3.svg") 0% 0% no-repeat padding-box,
        url("../pages/images/Crop-objects.svg") 0% 0% no-repeat padding-box,
        url("../pages/images/Video-Crop-still-frame.png") 0% 0% no-repeat padding-box;
    background-position: right 17% top 55%, right 37% top 31%, right 22% center, right 22%  center;
    background-size: 7%, 6%, 20%, 20%;
    animation: image 4s 1500ms;
}

@keyframes image {
    0%   { 
        background-position: right 0% top 55%, right 19% top 31%, right 2% center, right 2%  center;
    }
    100%  { 
        background-position: right 17% top 55%, right 37% top 31%, right 22% center, right 22%  center; 
    }
}

.embed-adobe>div>div:nth-child(2)>p {
    background:
        url("../pages/images/Quick-action-icon-2.svg") no-repeat padding-box,
        url("../pages/images/Quick-action-icon-2.svg") no-repeat padding-box,
        url("../pages/images/background-remove-layer-2-pexels-thyrone.png") no-repeat padding-box,
        url("../pages/images/Code-asset.svg") no-repeat padding-box;
    background-position: center 69%, 33% center, center, center;
    background-size: 6%, 7%, 30%, 41%;
    animation: back 3s 1500ms;
}

@keyframes back {
    0%   {background-position: 25% 68%, 8% center, 15% center, center;}
    100%  {background-position: center 69%, 33% center, center, center;}
}

.embed-adobe>div>div:nth-child(2) {
    display: flex;
}

.embed-adobe>div>div>div:first-child {
    display: flex;
    width: 50%;
    height: 50%;
}

.express-editor-hero-block .autoPlayVideo {
    height: 500px;
    width: 500px;
    transform: translateX(35px) translateY(0px);
    /* left: 200px; */
}

.editorBgImg .gatsby-resp-image-image{
    width: 60% !important;
    height: 60% !important;
    top: 10% !important;
    left: 20% !important;
}

.video {
    background: url('../pages/images/express_editor_bg.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-y: center;
    position: absolute;
    /* opacity: 0.4; */
    width: 100%;
    height: 100%;
}

.express-editor-hero-block  video {
    opacity: 1;
}
.express-editor-hero-block>div:first-child {
    display: flex;
}

.express-editor-hero-block>div>div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.express-editor-hero-block>div>div:first-child>p, .express-editor-hero-block>div>div:first-child>h1  {
    width: 70%;
}

.express-editor-hero-block .animated {
    animation: animateCode 3s infinite 1000ms;
}

@keyframes animateCode {
    50% {
        transform: translateX(75px);
        opacity: 1;
    }
    75% {
        transform: translateX(75px), translateY(-10px);
        opacity: 1;
    }
    90% {
        transform: translateX(280px), translateY(-35px);
        opacity: 1;
    }
    100% {
        transform: translateX(280px) translateY(-35px);
        opacity: 0.5;
    } 
}

.autoQuickPlayVideo{
    width: 300px;
}

.homeAutoCropVideo{
    width: 500px;
    height: 500px;
}

.quick-action-hero-block {
    background: url('../pages/images/Hero-Background-Gradient-2x.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.quick-action-hero-block>div:first-child {
    max-width: unset;
    justify-content: flex-start;
    display: flex;
}

.quick-action-hero-block>div>div:first-child {
    width: 44%;
    display: flex;
    align-items: center;
}

.quick-action-hero-block>div>div:first-child>h1 {
    width: 60%;
}

.quick-action-hero-block>div>div:first-child>p {
    width: 50%;
    padding-right: 11%;
}

.quick-action-hero-block .autoQuickPlayVideo {
    border-radius: 20px;
    margin-right: 34%;
    width: 35% !important;
}

.quick-action-hero-block .quickActionVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
        url('../pages/images/Background image 1.png'),
        url('../pages/images/Background image 3.svg'),
        url('../pages/images/Background image 4.png'),
        url('../pages/images/Background image 2.svg');
    background-repeat: no-repeat;
    background-size: 29%, 15%, 27%, 16%;
    background-position: 1% 88%, left 7% top 16%, center 111%, right 55% bottom 27%;
    width: 50%;
    padding: 4% 0% 4% 0%;
}

@media (min-width: 320px) and (max-width:767px) {
    .express-editor-hero-block {
        padding: 40px 20px !important;
    }

    .express-editor-hero-block>div>div:nth-child(2)>div {
        height: fit-content !important;
    }

    .express-editor-hero-block .homeheroAssertImage {
        margin-top: 100px !important;
    }

    .announcement-embed-editor,
    .announcement-embed-editor>div:first-child {
        margin: auto !important;
        padding: 0px !important
    }

    .announcement-embed-editor>div:first-child>h3 {
        margin: 30px !important;
    }

    .announcement-embed-editor>div:first-child>p {
        margin: 15px;
        width: fit-content !important;
    }

    .announcement-embed-editor>div:first-child>div>a {
        margin-bottom: 50px !important;
    }

    .streamline_ability>div>div {
        margin-right: 20px;
    }

    .streamline_ability>div>div>div>p {
        font-size: 17px;
        width: 100% !important;
    }

    .streamline_ability>div>div>div {
        padding-right: 20px !important;
    }

    .tryForFree>div,
    .getting-started>div>div {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        text-align: center !important;
        padding: 1%;
    }

    .quick-action-content>div,
    .edit-text-block>div>div,
    .service-code-block>div>div>div:nth-child(2)>div>div:nth-child(2),
    .quick-content,
    .editing-content>div,
    .getting-started>.css-76qosi-css-Paragraph .gatsby-resp-image-wrapper,
    .code-block-sdk>div>div>div:nth-child(2)>div>div,
    .code-block-sdk>div>div>div:nth-child(2)>div>div:nth-child(2),
    .code-block-sdk>div>div>div:nth-child(2)>div>div:nth-child(2)>pre>div,
    .code-block-sdk>div>div>div:nth-child(2) {
        max-width: 100% !important;
        width: 100% !important;
    }

    .getting-started>p>span>img,
    .vedio-editor {
        display: none;
    }

    .getting-started {
        height: 65vh !important;
    }

    .getting-started>div {
        padding-left: 11%;
        width: 100%;
        height:fit-content;
    }

    .getting-started>div>p,
    .tryForFree>div>div>p {
        font-size: 20px;
    }

    .getting-started>p>span,
    .ms-pa-summary-blade>div>div {
        margin-right: 0px !important;
    }

    .embed-adobe {
        padding: 10% 0 0 10% !important;
    }

    .embed-adobe>div>div:first-child {
        padding-left: 0px;
    }

    .embed-adobe>div>div:first-child,
    .deployment.css-19bdk87-TextBlock,
    .big-impact>div {
        padding: 0px !important;
    }

    .embed-adobe {
        padding: 10% 0px 0px 10% !important;
    }

    .embed-adobe>div>div:first-child {
        padding-left: 0px;
    }

    .tryForFree>div>div {
        text-align: center;
        margin-bottom: 10px;
    }

    .resource-card {
        margin: 0  !important;
    }

    .code-block-sdk>div>div {
        text-align: center !important;
        grid-template-columns: repeat(1, 1fr);
    }

    .code-block-sdk>div {
        width: 90% !important;
    }

    .link>div>div>div,
    .big-impact>div>div>div,
    .big-impact>div ,.edit-text-block>div>div>div,
    .quick-action>div>p,
    .service-code-block {
        padding: 0px !important;
    }

    .edit-text-block>div>div>div>p {
        font-size: 15px !important;
    }

    .service-code-block>div>div>div>div>div:nth-child(1)>span,
    .service-code-block>div>div>div>div>div:nth-child(3)>span,
    .service-code-block>div>div>div>div>div:nth-child(5)>span {
        display: flex !important;
        align-items: center;
        height: 10vw !important;
    }

    .service-code-block>div>div>div>div>div {
        width: 25vh !important;
    }

    .deployment>div>p:first-child>span {
        height: 40vw !important;
    }

    .deployment {
        padding: 20px 0 !important;
    }

    .deployment>div>h3 {
        margin-top: 0% !important;
    }

    .quick-action-block>div>p:first-child {
        height: 4cm !important;
    }

    .editing-content {
        width: 70vw !important;
        margin-left: 5% !important;
    }

    .big-impact>div>div>div>h3 {
        font-size: 33px;
        width: 100% !important;
    }

    .big-impact>div>div {
        flex-direction: column-reverse !important;
    }

    .big-impact>div>div>div>p {
        width: fit-content;
        height: fit-content;
        margin-bottom: 40px;
    }

    .edit-text-block>div {
        height: 10vh !important;
    }
 
    .edit-text-block>div>div>p {
        width: 45vw !important;
    }

    .w-45,
    .w-30,
    .w-25,
    .w-30>div,
    .w-45>div,
    .w-25>div {
        max-width: 100% !important;
        width: 100% !important;
        overflow: hidden !important;
    }

    .quick-content>div {
        flex-wrap: wrap;
    }

    .p-25 {
        margin: 0 !important;
    }

    .faq-editor-page {
        height: 70vw !important;
    }

    .image-editing>div>div>div {
        padding-left: 20px !important
    }

    .image-editing>div>div>div>h3 {
        margin-top: 10px !important;
    }

    .summary-block{
        height: 50vh !important;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .express-editor-hero-block>div>div:nth-child(2)>div:nth-child(2)>div {
        margin-top: 87px !important;
    }

    .announcement-embed-editor {
        padding: 40px 0px !important;
    }

    .customer-need>div>p {
        padding: 0 8% !important;
    }

    .streamline_ability>div>div>p>span>picture>img,
    .resource-card>div,
    .embed-adobe>div>div>h1,
    .design-features-code-block>div,
    .big-impact>div>div>div>h3,
    .editing-content>div,
    .quick-content {
        max-width: 100%;
        width: 100% !important;
    }

    .streamline_ability>div>div>p>span>span {
        padding-bottom: 59.75% !important;
    }

    .getting-started {
        margin-bottom: 50%;
        height: 8% !important
    }

    .getting-started>p>span>img {
        display: none;
    }


    .getting-started>div {
        padding-left: 5%;
        width: 85%;
    }

    .getting-started>div>p {
        font-size: 18px;
    }

    .embed-adobe>div:first-child>div:first-child>p:last-child,
    .code-block-sdk>div {
        width: 90% !important;
    }

    .How-to-get-started {
        padding: 40px 25px !important;
    }

    .tryForFree>div {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        text-align: center !important;
    }

    .tryForFree>div>div {
        text-align: center;
        margin-bottom: 10px;
    }

    .tryForFree>div>div>p {
        font-size: 19px;
    }

    .design-developer {
        width: 100% !important;
        margin-left: 0% !important;
    }
    .service-code-block ,.deployment{
        padding: 0% !important;
    }

    .service-code-block>div>div>div>div>div:nth-child(1)>span,
    .service-code-block>div>div>div>div>div:nth-child(3)>span,
    .service-code-block>div>div>div>div>div:nth-child(5)>span {
        display: flex !important;
        align-items: center;
        height: 4vw !important;
    }

    .deployment>div>p:last-child,
    .deployment>div>h3 {
        padding: 0 23% !important;
    }

    .deployment>div {
        padding: 5% !important;
    }

    .deployment>div>h3 {
        margin-top: 12% !important;
    }

    .why-integrate-sdk>div>h3 {
        margin-top: 15% !important;
    }

    .why-integrate-sdk>div>p:first-child>span {
        height: 20vw !important;
    }

    .quick-action-block>div>p {
        height: 13vw !important;
    }

    .w-30>div,
    .quick-action-content>div,
    .w-25>div,
    .quick-content>.css-1o3ows-WrapperComponent {
        overflow: hidden !important;
    }

    .quick-action>div>p {
        width: 100% !important;
        padding: 0 !important;
    }
    
    .editing-content .big-impact>div>div>div>p {
        width: 92%;
    }

    .quick-content>div,
    .editing-content {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 !important;
    }

    .editing-content>div {
        margin-left: 0px !important;
    }
    
    .big-impact>div>div>div {
        width: fit-content !important;
    }

    .big-impact>div>div {
        flex-direction: column-reverse !important;
    }

    .big-impact>div>div>p:first-child {
        margin: 0 0 20% 20%;
    }
    
    .big-impact {
        height: 10%;
    }

    .edit-text-block>div>div>div>p {
        font-size: 17px !important;
        width: 25vw !important;
    }

    .edit-text-block>div>div {
        width: 80% !important;
    }

    .edit-text-block>div>div>div {
        padding: 0 0 0 10% !important;
        width: 56% !important;
        max-width: 56% !important;
    }

    .edit-text-block>div>div>p:first-child {
        height: 57px !important;
        padding: 0px !important;
        width: 30% !important;
    }

    .w-45 {
        max-width: 35% !important;
        width: 35% !important;
    }

    .w-30,
    .w-25 {
        max-width: 33% !important;
        width: 33% !important;
    }

}

@media screen and (max-width: 767px) {
    .express-editor-hero-block {
        background: url('../pages/images/Hero-Background-Gradient-2x.jpg') !important;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .embed-adobe {
        background: url('../pages/images/Hero-Background-Gradient-image-2x.png') !important;
        background-repeat: no-repeat;
        background-size: cover !important;
    }
}

@media screen and (max-width: 1023px) and (min-width:768px) {
    .express-editor-hero-block {
        background: url('../pages/images/Hero-Background-Gradient-2x.jpg') !important;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .embed-adobe {
        background: url('../pages/images/Hero-Background-Gradient-image-2x.png') !important;
        background-repeat: no-repeat;
        background-size: cover !important;
    }
}

@media (min-width: 320px) and (max-width:1024px) {

    .embed-adobe {
        height: 100% !important;
    }

    .embed-adobe>div>div>p:nth-child(2) {
        padding-left: 0px !important;
    }

    .embed-adobe>div>div>h1 {
        color: white;
        font-size: 37px !important;
    }

    .embed-adobe>div {
        display: flex !important;
        flex-direction: column !important;
    }

    .code-block-sdk>div>div>div:nth-child(2)>div {
        margin-right: 0px !important;
    }

    .quick-action-hero-block>div {
        flex-direction: column;
    }

    .quick-action-hero-block {
        padding-bottom: unset !important;
    }

    .quick-action-hero-block>div>div:first-child {
        width: 100%;
    }

    .quick-action-hero-block>div:first-child {
        align-items: center;
    }

    .quick-action-hero-block>div>div:first-child {
        align-items: flex-start;
    }

    .quick-action-hero-block>div>div:first-child>h1 {
        width: 64%;
    }

    .quick-action-hero-block>div>div:first-child>p {
        width: 85%;
    }

    .quick-action-hero-block .quickActionVideo {
        width: 100%;
    }
    .quick-action-hero-block .quickActionVideo {
        background-size: 33%, 17%, 32%, 20%;
        background-position: 17% 85%, left 21% top 4%, 70% 114%, right 39% bottom 37%;
    }

    .quick-action-hero-block .autoQuickPlayVideo {
        margin-right: 8%;
        margin-bottom: 7%;
    }
}

@media (min-width:1025px) {
    .design-features-code-block {
        padding-left: 13% !important;
    }

    .service-code-block>div>div>div>div>div:nth-child(1)>span,
    .service-code-block>div>div>div>div>div:nth-child(3)>span,
    .service-code-block>div>div>div>div>div:nth-child(5)>span {
        display: flex !important;
        align-items: center;
        height: 1.2vw !important;
    }
}

@media screen and (max-width: 767px) {

    .bgBlue .tabItem:hover,
    .bgBlue .tabItem.is-selected {
        background-color: #202947 !important;
        color: #8194ce !important;
    }
}

@media screen and (max-width: 765px) {

    .bgBlue .tabItem:hover,
    .bgBlue .tabItem.is-selected {
        background-color: #202947 !important;
        color: #8194ce !important;
    }
}

@media (max-width: 1024px) {
    .border-right>div>div>div {
        border-right: 0px !important;
    }
}

@media (max-width: 1280px) {
    .left-content>div>div>div {
        width: 100% !important;
    }
}

@media screen and (max-width:768px) {
    .spectrum-Accordion-itemContent>p {
        padding-left: 27px;
    }
}

@media screen and (min-width:1025px) and (max-width:1300px) {
    .embed-adobe>div>div:nth-child(2)>p {
        background-position: center 59%, 33% center, center, center;
    }

    @keyframes back {
        0%   {background-position: 25% 62%, 8% center, 15% center, center;}
        100%  {background-position: center 59%, 33% center, center, center;}
    }

    .embed-adobe>div>div:nth-child(2)>p>span {
        background-position: right 17% top 55%, right 37% top 39%, right 22% center, right 22%  center;
    }

    @keyframes image {
        0%   { 
            background-position: right 0% top 55%, right 19% top 39%, right 2% center, right 2%  center;
        }
        100%  { 
            background-position: right 17% top 55%, right 37% top 39%, right 22% center, right 22%  center; 
        }
    }

    .quick-action-hero-block>div>div:first-child {
        width: 50%;
    }

    .quick-action-hero-block>div>div:first-child>h1 {
        width: 75%;
    }

    .quick-action-hero-block>div>div:first-child>p {
        width: 63%;
        padding-right: 11%;
    }
}

@media screen and (min-width:1300px) and (max-width:1500px) {
    .embed-adobe>div>div:nth-child(2)>p {
        background-position: center 62%, 33% center, center, center;
    }

    @keyframes back {
        0%   {background-position: 25% 62%, 8% center, 15% center, center;}
        100%  {background-position: center 62%, 33% center, center, center;}
    }

    .embed-adobe>div>div:nth-child(2)>p>span {
        background-position: right 17% top 55%, right 37% top 36%, right 22% center, right 22%  center;
    }

    @keyframes image {
        0%   { 
            background-position: right 0% top 55%, right 19% top 36%, right 2% center, right 2%  center;
        }
        100%  { 
            background-position: right 17% top 55%, right 37% top 36%, right 22% center, right 22%  center; 
        }
    }

    .quick-action-hero-block .quickActionVideo {
        background-position: 1% 88%, left 8% top 17%, center 111%, right 55% bottom 19%;
    }

    .quick-action-hero-block>div>div:first-child>h1 {
        width: 79%;
    }
    
    .quick-action-hero-block>div>div:first-child>p {
        width: 63%;
        padding-right: 15%;
    }
}

@media screen and (min-width:1500px) and (max-width:1750px) {
    .embed-adobe>div>div:nth-child(2)>p {
        background-position: center 65%, 33% center, center, center;
    }

    @keyframes back {
        0%   {background-position: 25% 65%, 8% center, 15% center, center;}
        100%  {background-position: center 65%, 33% center, center, center;}
    }

    .embed-adobe>div>div:nth-child(2)>p>span {
        background-position: right 17% top 55%, right 37% top 33%, right 22% center, right 22%  center;
    }

    @keyframes image {
        0%   { 
            background-position: right 0% top 55%, right 19% top 33%, right 2% center, right 2%  center;
        }
        100%  { 
            background-position: right 17% top 55%, right 37% top 33%, right 22% center, right 22%  center; 
        }
    }

    .quick-action-hero-block>div>div:first-child {
        width: 50%;
    }
}